<div class="container pt-5">
  <h1 class="text-center"><span class="bg-white">結果発表</span></h1>
  <h1 class="text-center"><span class="bg-white">あなたの得点は<%= @score.score %>点でした！</span></h1>

  <div class="row offset-2 col-md-8 justify-content-center bg-white mt-5">
    <div class="d-flex flex-column">
      <% @results.each.with_index(1) do |result, n| %>
        <h2 class="pt-5">問<%= n %>&ensp;<%= result.quiz.question %></h2>
        <% if result.quiz.choice3.nil? %>
          <div class="d-flex pt-3 question-block">
            <label class="d-flex align-items-center mr-5 h4"><%= radio_button "result#{result.id}", "select", "1", disabled: true, checked: result.selection_result == 1 %><p class="mb-0 question-p"><%= result.quiz.choice1 %></p></label>
            <label class="d-flex align-items-center mr-5 h4"><%= radio_button "result#{result.id}", "select", "2", disabled: true, checked: result.selection_result == 2 %><p class="mb-0 question-p"><%= result.quiz.choice2 %></p></label>
          </div>
        <% else %>
          <div class="d-flex pt-3 question-block">
            <label class="d-flex align-items-center mr-5 mt-3 h4"><%= radio_button "result#{result.id}", "select", "1", disabled: true, checked: result.selection_result == 1 %><p class="mb-0 question-p"><%= result.quiz.choice1 %></p></label>
            <label class="d-flex align-items-center mr-5 mt-3 h4"><%= radio_button "result#{result.id}", "select", "2", disabled: true, checked: result.selection_result == 2 %><p class="mb-0 question-p"><%= result.quiz.choice2 %></p></label>
            <label class="d-flex align-items-center mr-5 mt-3 h4"><%= radio_button "result#{result.id}", "select", "3", disabled: true, checked: result.selection_result == 3 %><p class="mb-0 question-p"><%= result.quiz.choice3 %></p></label>
            <label class="d-flex align-items-center mr-5 mt-3 h4"><%= radio_button "result#{result.id}", "select", "4", disabled: true, checked: result.selection_result == 4 %><p class="mb-0 question-p"><%= result.quiz.choice4 %></p></label>
          </div>
        <% end %>

        <% if result.selection_result == result.quiz.answer %>
          <p class="text-success h4 mt-3">正解です</p>
        <% else %>
          <p class="text-danger h4 mt-3">不正解です</p>
        <% end %>

        <p class="h4 mt-2 border-bottom">答え&emsp;<%= result.quiz.get_answer %></p>

      <% end %>

      <p class="text-center my-5"><%= link_to "マイページへ", user_path(current_user), class:"btn btn-primary text-white px-5 py-3" %></p>
    </div>
  </div>

</div>