<div class="container pt-5">
  <h1 class="pt-5">クイズ問題一覧</h1>
  <div class="row d-flex flex-column align-items-center pt-5">

    <div>
      <%= link_to "初級", admins_quizzes_path(sort: 0), class:"btn btn-success px-4" %>
      <%= link_to "中級", admins_quizzes_path(sort: 1), class:"btn btn-primary px-4" %>
      <%= link_to "上級", admins_quizzes_path, class:"btn btn-danger px-4" %>
    </div>

    <% @quizzes.each do |quiz| %>
      <div>
        <%= quiz.question %><br>
        <%= quiz.choice1 %>
        <%= quiz.choice2 %>
        <%= quiz.choice3 %>
        <%= quiz.choice4 %>
      </div>
    <% end %>

    <%= paginate @quizzes %>

    <%= form_with model: @quiz, url: admins_quizzes_path, local:true do |f| %>
      <h1>クイズ作成</h1>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :question %></td>
            <td><%= f.text_field :question %></td>
          </tr>
          <tr>
            <td><%= f.label :choice1 %></td>
            <td><%= f.text_field :choice1 %></td>
          </tr>
          <tr>
            <td><%= f.label :choice2 %></td>
            <td><%= f.text_field :choice2 %></td>
          </tr>
          <tr>
            <td><%= f.label :choice3 %></td>
            <td><%= f.text_field :choice3 %></td>
          </tr>
          <tr>
            <td><%= f.label :choice4 %></td>
            <td><%= f.text_field :choice4 %></td>
          </tr>
          <tr>
            <td><%= f.label :answer %></td>
            <td><%= f.number_field :answer, min: 1, max: 4 %></td>
          </tr>
          <tr>
            <td><%= f.label :level %></td>
            <td><%= f.collection_select :answer, min: 1, max: 4 %></td>
          </tr>
          <tr>
            <td colspan"2"><%= f.submit "作成する", class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

  </div>
</div>