<div>
  <%= link_to "初級", articles_path(sort: 1, tag_id: tag), remote: true, class:"btn btn-success px-4 mr-3" %>
  <%= link_to "中級", articles_path(sort: 2, tag_id: tag), remote: true, class:"btn btn-primary px-4 mr-3" %>
  <%= link_to "上級", articles_path(sort: 3, tag_id: tag), remote: true, class:"btn btn-danger px-4" %>
</div>

<% if tag.nil? && level.nil? %>

<% elsif tag.nil? %>
  <p class="mt-5">"<%= level %>"で絞り込み</p>
<% elsif level.nil? %>
  <p class="mt-5">"<%= tag.name %>"で絞り込み</p>
<% else %>
  <p class="mt-5">"<%= tag.name %>""<%= level %>"で絞り込み</p>
<% end %>

<div class="row">
  <div class="col-md-9 mt-3">
    <table class="table table-hover bg-white">
      <tbody>
        <% @articles.each do |article| %>
          <tr class="mt-3">
        　   <td class="p-0"><%= link_to article_path(article) do %><%= attachment_image_tag article, :image, :fill, 128, 72, format: 'jpeg', fallback: 'img/no_image.png', size: '128x72' %><% end %></td>
            <td>
             <p class="h4"><%= link_to article.title, article_path(article) %></p>
             <div class="text-right">
                <span class="badge badge-primary"><%= article.level %></span>
                <% article.tags.each do |tag| %>
                  <span class="badge"><%= tag.name %></span>
                <% end %>
                <h6 class="article-show_date">
                  <i class="far fa-clock"></i>&nbsp;&nbsp;<%= article.created_at.strftime('%Y.%m.%d') %>
                </h6>
             </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate articles %>
  </div>

  <div class="col-md-2 mt-5 ml-5">
    <span><p><%= link_to articles_path, remote: true, class:"tag_link" do %>すべての記事・投稿<% end %></p></span>
      <% tags.each do |tag| %>
        <span><p><%= link_to articles_path(tag_id: tag.id, sort: 0), remote: true, class:"tag_link" do %><%= tag.name %> (<%= tag.articles.count %>)<% end %></p></span>
      <% end %>
  </div>
</div>