<div class="main-login d-flex align-items-center justify-content-center">
  <div class="user-edit p-5 bg-light">

    <h2>管理者ログイン</h2>
    <%= flash[:alert] %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email", size:50 %>
      </div>

      <div class="field pb-5">
        <%= f.label :パスワード %>
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password", size:50 %>
      </div>

      <div class="actions">
        <%= f.submit "ログインする", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    <% end %>

  </div>
</div>