<div id="logo_loader" class="open">

  <div class="f_logo">
    <h1>Now Loading</h1>
  </div>

</div>

<div class="container pt-5">
  <div class="row">

    <%= render partial: 'layouts/flash' %>

    <div class="col-md-12 mx-auto d-flex justify-content-center align-items-center top-image">
      <div class="col-md-6 text-center d-flex flex-column justify-content-center bg-white top-group">
        <p class="top-text">なにえらぶ？</p>
        <p class="top-text">どれつかう？</p>
        <p class="top-text mb-0 pb-3 border-bottom">考えて選ぶたのしみを</p>

        <p class="top-sentence mt-3">スマホが必須の時代なら</p>
        <p class="top-sentence">「なんとなく」ではなくしっかり選んで使ったほうがいいかもしれません</p>
        <p class="top-sentence">そのお手伝いをするための情報サイトです。</p>
        <p class="top-sentence">くわしくは<%= link_to "コチラ", about_path %></p>
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="row d-flex align-items-center mt-5">
    <h1>運営　新着記事</h1>
    <%= render 'layouts/search-bar' %>
  </div>
  <%= render 'homes/article-slide', obj: @admin_articles %>

  <h1 class="mt-5">会員　新着投稿・記事</h1>
  <%= render 'homes/article-slide', obj: @user_articles %>

</div>


