<div class="container pt-5">
  <div class="row pt-5">

    <div class="col-md-4">
      <h2>マイプロフィール</h2>
      <table class="table">
        <tbody>
          <tr>
            <td colspan="2" class="text-center"><%= attachment_image_tag @user, :image, :fill, 320, 180, format: "jpeg", fallback: 'img/no_image.png', size: '320x180' %></td>
          </tr>
          <tr>
            <td class="">お名前</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>スマホ</td>
            <td>
              <% if @user.smart_phone.nil? %>
                <p>未登録</p>
              <% else %>
                <%= @user.smart_phone %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>キャリア</td>
            <td>
              <% if @user.mno_mvno.nil? %>
                <p>未登録</p>
              <% else %>
                <%= @user.mno_mvno %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>特徴</td>
            <td>
              <% if @user.background.nil? %>
                <p>未登録</p>
              <% else %>
                <%= @user.background %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>最高得点</td>
            <td>
              <% if @max_score.nil? %>
                <p>未登録</p>
              <% else %>
                <%= @max_score %>点
              <% end %>
            </td>
          </tr>
          <tr>
            <td>ランク</td>
            <td>
              <% if @user_level.nil? %>
                <p>未登録</p>
              <% else %>
                <%= @user_level %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>アイテム's</h2>
      <table class="table">
        <thead>
          <tr>
            <th>アイテム名</th>
            <th>メーカー</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.maker %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <div class="col-md-7">

      <h2>レベル別:おすすめ記事</h2>
      <table class="table border">
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h2>投稿した記事</h2>
      <table class="table border">
        <tbody>
          <% @user_articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
              <% if @user = current_user %>
                <%= link_to "編集する", edit_article_path(article) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h2>お気に入り記事</h2>
      <table class="table border">
        <tbody>
          <% @user_favorite_articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
              <% if @user = current_user %>
                <%= link_to "編集する", edit_article_path(article) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>



