<div class="container pt-5">
  <div class="row pt-5">

    <div class="col-md-4">

      <h2 class="mb-5"><span class="px-5 rounded-pill bg-success">マイプロフィール
        <% if @user == current_user %>
        <%= link_to edit_user_path(@user), class:"ml-auto" do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
        <% end %></span>
      </h2>
        <%= attachment_image_tag @user, :image, :fill, 150, 150, format: "jpeg", fallback: 'img/no_image.png', size: '150x150' %>
      <table class="table profile bg-white">
        <tbody>
          <tr>
            <td class="w-25">お名前</td>
            <td class="w-75"><%= @user.name %></td>
          </tr>
          <tr>
            <td>スマホ</td>
            <td>
              <% if @user.smart_phone.nil? %>
                未登録
              <% else %>
                <%= @user.smart_phone %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>キャリア</td>
            <td>
              <% if @user.mno_mvno.nil? %>
                未登録
              <% else %>
                <%= @user.mno_mvno %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>特徴</td>
            <td>
              <% if @user.background.nil? %>
                未登録
              <% else %>
                <%= @user.background %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>最高得点</td>
            <td>
              <% if @max_score.nil? %>
                未登録
              <% else %>
                <%= @max_score %>点
              <% end %>
            </td>
          </tr>
          <tr>
            <td>ランク</td>
            <td>
              <% if @user_level.nil? %>
                未登録
              <% else %>
                <%= @user_level %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="my-5"><span class="px-5 rounded-pill bg-success">アイテム's</span></h2>
      <table class="table">
        <thead>
          <tr>
            <th>アイテム名</th>
            <th>メーカー</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.maker %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <div class="offset-1 col-md-7">

      <h2><span class="px-5 rounded-pill bg-warning">おすすめ</span></h2>
      <div class="rounded mt-4 bg-white">
        <% if @articles.blank? %>
          <h3 class="p-5 mt-4"><%= link_to "クイズ", new_quiz_path, class:"font-weight-bold" %>を受けて頂くと表示されます</h3>
        <% else %>
        <table class="table border">
        <tbody>
          <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
        <% end %>
      </div>

      <h2 class="mt-5"><span class="px-5 rounded-pill bg-warning">投稿した記事</span></h2>
      <table class="table border">
        <tbody>
          <% @user_articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
              <% if @user = current_user %>
                <%= link_to "編集する", edit_article_path(article) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

     <h2 class="mt-5"><span class="px-5 rounded-pill bg-warning">お気に入り</span></h2>
      <table class="table border">
        <tbody>
          <% @user_favorite_articles.each do |article| %>
          <tr>
            <td>
              <%= article.title %>
              <% if @user = current_user %>
                <%= link_to "編集する", edit_article_path(article) %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>



